:root {
  --text-color: #000;
  --bg-color: #fff;
  --primary-color: #0070f3;

  --white: #fff;
  --black: #000;
  --black-5: rgba(0, 0, 0, 0.05);
  --black-10: rgba(0, 0, 0, 0.1);
  --black-50: rgba(0, 0, 0, 0.5);
  --white-50: rgba(255, 255, 255, 0.5);
}

[data-theme='dark'] * {
  --text-color: #fff;
  --bg-color: #111a2a;

  --white: #000;
  --black: #fff;
  --black-5: rgba(255, 255, 255, 0.05);
  --black-10: rgba(255, 255, 255, 0.1);
  --black-50: rgba(255, 255, 255, 0.5);
  --white-50: rgba(0, 0, 0, 0.5);
}
