:root {
  --text-color: #000;
  --bg-color: #f0f0f0;
  --sub-bg-color: #fff;
  --primary-color: #0070f3;

  --white: #fff;
  --black: #000;
  --white-10: rgba(255, 255, 255, 0.1);

}

[data-theme='dark'] * {
  --text-color: #fff;
  --bg-color: #000;
  --sub-bg-color: #1e2a38;
  --primary-color: #1e90ff;

  --white: #000;
  --black: #fff;
  --white-10: rgba(0, 0, 0, 0.1);
}
