.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bg-color);

  .header {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    background-color: var(--sub-bg-color);
    box-shadow: 0 1px 2px var(--white-10);
    padding: 24px;

    .title {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  .content {
    padding: 0 24px;
    height: 0;
    flex-grow: 1;
    overflow: hidden;
    background: white;
  }
}