.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bg-color);

  .header {
    display: flex;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 1px 2px var(--white-10);
    padding: 20px 40px;
    color: var(--text-color);

    .title {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .content {
    padding: 0 40px 30px;
    height: 0;
    flex-grow: 1;
    overflow: hidden;
    background: var(--bg-color);
    color: var(--text-color);
  }
}